html {
  scroll-behavior: smooth;
}
.sticky {
  position: fixed;
  top: 0;
}

.glide__arrow {
  position: absolute;
  display: block;
  /* top: 50%; */
  z-index: 2;
  opacity: 1;
  transform: translateY(-500%);
}

.glide_arrow {
  position: absolute;
  display: block;
  z-index: 2;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
}

meter {
  margin: 0 1rem;
  width: 20rem;
  height: 2rem;
}


@media screen and (max-width: 767px) {
  .glide__arrow {
    position: absolute;
    display: block;
    /* top: 50%; */
    z-index: 2;
    opacity: 1;
    transform: translateY(-800%);
  }
}

@media screen and (max-width: 992px) {
  .glide__arrow {
    position: absolute;
    display: block;
    /* top: 50%; */
    z-index: 2;
    opacity: 1;
    transform: translateY(-400%);
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: none;
  /* background-color: #f97316; */
  border-radius: 100%;
  height: 50px;
  width: 50px;
  z-index: 999;
}
#btn-back-to-top img {
  width: 30px;
  margin-left: 10px;
}