.sticky {
    position:fixed;
    top:0;
  }

  .glide__arrow {
    position: absolute;
    display: block;
    /* top: 50%; */
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%);
}
.glide_arrow {
  position: absolute;
  display: block;
  z-index: 2;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
}
meter {  
  margin: 0 1rem;
  width: 20rem;
  height: 2rem;
}